ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /* border: 1px solid #e7e7e7;
    background-color: #f3f3f3; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: DM Sans, Roboto, sans-serif;
    letter-spacing: 0.2px;
}

/* Change the link color on hover */
li a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 1em;
}