<div>
    <p style="text-align: center;">github.io не несёт ответственности за достоверность информации, размещенной на
        сайте</p>
    <p style="text-align: center;"><strong>© 2022 github.io</strong></p>
    <a href='https://acadooghostwriter.com/'>AcadooGhostwriter.com</a>
    <script type='text/javascript'
        src='https://www.freevisitorcounters.com/auth.php?id=f425e3e19f51c02a0fed22b556fe739f07259bea'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/980426/t/1"></script>
</div>