<div class="topnav" id="myTopnav" [ngClass]="status ? 'responsive' : ''">
    <a href="./">IMMIBLOG</a>
    <a href="#posts">Статьи</a>
    <div class="dropdown">
        <button class="dropbtn">Полезная информация
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Номер социального<br>страхования (SSN)</a>
            <a href="#">Водительские права</a>
            <a href="./citizenship">Гражданство США</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Иммиграционные формы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Форма I-130</a>
            <a href="#">Форма I-131</a>
            <a href="#">Форма I-485</a>
            <a href="#">Форма I-765</a>
            <a href="#">Форма I-400</a>
        </div>
    </div>
    <a href="#about">About</a>
    <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
</div>