<div class="topnav" id="myTopnav" [ngClass]="status ? 'responsive' : ''">
    <a href="./">IMMIBLOG</a>
    <a href="#">Форум</a>
    <div class="dropdown">
        <button class="dropbtn">Полезная информация
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="./ssn">Номер социального<br>страхования (SSN)</a>
            <a href="./drivers-licence">Водительские права</a>
            <a href="./citizenship">Гражданство США</a>
        </div>
    </div>
    <!-- <div class="dropdown">
        <button class="dropbtn">Иммиграционные формы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="./i130">Форма I-130</a>
            <a href="./i131">Форма I-131</a>
            <a href="./i485">Форма I-485</a>
            <a href="./i765">Форма I-765</a>
            <a href="./n400">Форма I-400</a>
        </div>
    </div> -->
    <a href="./case-status">Статус кейса</a>
    <a href="./about" class="about">About</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
</div>