<div>
    <h1 style="text-align: center;">Social Security Number</h1>
    <p>
        Что таке <strong>SSN</strong>? Соушл Секьюрит Намбер - это номер социального страхования. Дригими словами это
        номер
        налогоплательщика.
    </p>
    <p>
        Без этого номера вы не можете платить налоги, например подоходные, не можете оформить кредит, потому что
        кредитная история строится на базе номера. Существует еще <strong>ITIN</strong> (Individual Taxpayer
        Identification Number). Но это танцы с бубном. IRS выдает ITIN людям которые не могут иметь SSN по причине
        статуса пребывания или по каким то иным причинам.<br>
        Так же вам потребуется SSN, помимо прочих документов(в разных штатах пакет документов может отличаться), для
        оформления полноценных <a href="./drivers-licence">водительских прав</a>. Я сейчас не говорю о водительсикх
        правах для временно прибывших, таких как студенты.<br>
        Короче говоря имея SSN ваша жизнь в стране станет в разы легче.
    </p>
    <p>
        Если вы в стране легально и ваш статус пребывания подрузомевает получение SSN, то получить этот заветный номер
        вам не составит труда совсем. Это займет примерно 1 час. И потом останется только подождать пару недель пока
        карточка с номером придет по почте.<br>
    </p>
    <p>
        Бывают случаи, например статус студента, когда ты не можешь оформить SSN до наступления определенных
        обстоятельств. Это может быть финансовое положение, прохождение практики и т.д.
    </p>
    <p>
        И в первом и втором случае вам нужно будет посетить Social Security Administration. Принести все необходимые
        документы, подтверждающие ваше право на SSN, заполнить анкету и ждать пару недель.
    </p>
    <h2><strong>Оригинал каких документов нужно принести с собой?</strong></h2>

    <h2><strong>Иммиграционный статус</strong></h2>
    <p>Что бы доказать свой легальный иммиграционный статус, вы должны показать свои иммиграционные докуменнтыб
        такие как:</p>
    <ul>
        <li>
            <p>- Форма I-551(гринкарта или виза иммигранта) вместе со своим действующим загран паспортом;</p>
        </li>
        <li>
            <p>- Форма I-766 EAD или "разрешение на работу";</p>
        </li>
        <li>
            <p>- Форма I-94 (запись прибытия/убытия) или печать о прибытии в действующем загран паспорте;</p>
        </li>
    </ul>
    <p>Если вы F-1 или M-1 студент, вы так же должны показать свою форму I-20 (Сертификат
        соответствия требованиям для получения статуса неиммиграционного студента</p>
    <p>Если вы являетесь участником программы международного обмена J-1 или J-2, вы должны предъявить нам свою форму
        DS-2019 (Сертификат
        соответствия требованиям для получения статуса посетителя программы обмена).</p>

    <h2><strong>Право на работу</strong></h2>
    <p>Как правило, только неграждане, имеющие разрешение на работу от DHS, могут подать заявление на получение SSN.
        Если вы иностранный работник, вам нужно только предоставить вашу форму I-94 (запись о
        прибытии/убытии) или отметку о допуске в заграничном паспорте с неистекшим сроком действия, указывающую класс
        допуска, разрешающий работу. Некоторые иностранные рабочие должны предъявить форму I-766 EAD или «разрешение на
        работу» от DHS.</p>
    <p><strong>Стдентам:</strong> Если вы являетесь студентом F-1 и имеете право работать в кампусе, вы должны
        предоставить письмо от назначенного вами школьного чиновника, которое:</p>
    <ul>
        <li>
            <p>- Идентифицирует вас.</p>
        </li>
        <li>
            <p>- Подтверждает ваш текущий школьный статус.</p>
        </li>
        <li>
            <p>- Идентифицирует вашего работодателя и тип работы, которую вы выполняете или будете выполнять.</p>
        </li>
    </ul>
    <p>Также необходимо предоставить доказательства этой занятости, такие как недавняя платежная ведомость или письмо от
        вашего работодателя. Ваш руководитель должен подписать письмо и поставить дату. В письме должны быть описаны:
    </p>
    <ul>
        <li>
            <p>- Ваша работа.</p>
        </li>
        <li>
            <p>- Дата начала вашей работы.</p>
        </li>
        <li>
            <p>- Количество часов вы работаете или будете работать.</p>
        </li>
        <li>
            <p>- Имя и номер телефона вашего супервайзера.</p>
        </li>
    </ul>
    <p>Если вы являетесь студентом F-1, которому разрешено работать в рамках учебной практической подготовки
        (CPT), вы должны предоставить нам свою форму I-20 с заполненной страницей трудоустройства, подписанной
        назначенным вами должностным лицом школы.</p>
    <p>Если вы являетесь студентом F-1 и имеете разрешение на работу (I-766) от DHS, вы должны его предъявить.</p>
    <p>Если вы являетесь студентом J-1, студентом-стажером или иностранным посетителем, вы должны предоставить письмо
        от своего спонсора. Письмо должно быть на фирменном бланке спонсора с оригинальной подписью, разрешающей ваше
        трудоустройство.</p>
</div>
