<div>
    <div class="case-status-info">
        <fieldset class="case-status-form">
            <div class="field-block">
                <h1 style="text-align: center;">ПРОВЕРКА СТАТУСА ОНЛАЙН</h1>
            </div>
            <div class="field-block">
                <form>
                    <input #receipt_number name="appReceiptNum" type="text" class="form-control textbox" maxlength="13" placeholder="Введите номер кейса">
                </form>
            </div>
            <div class="field-block">
                <button type="submit" class="btn" (click)="getCaseStatus(receipt_number.value)">CHECK STATUS</button>
            </div>
            
        </fieldset>
    </div>
    <div class="results-field" *ngIf='caseStatus'>
            <p class="case-status">
                {{caseStatus.caseId}}
            </p>
            <p class="case-status">
                {{caseStatus.status}}
            </p>
            <p class="case-status">
                {{caseStatus.description}}
            </p>
    </div>
</div>
