h1 {
    font-family: DM Sans, Roboto, sans-serif;
    font-size: 50px;
}

p {
    font-family: DM Sans, Roboto, sans-serif;
}

div{
    font-family: DM Sans, Roboto, sans-serif;
}

a {
    color: blue;
}

a:hover {
    color: blue;
}

.container{
    width: 1000px;
}