<div class="container">
    <h1 style="text-align: center;">ТЕСТЫ ДЛЯ ПОДГОТОВКИ К ЭКЗАМЕНУ(ВЕРСИЯ 2008г)</h1>
    <div>
        <p>The 100 civics (history and government) questions and answers for the naturalization test are listed below.
            The civics test is an oral test and the USCIS Officer will ask the applicant up to 10 of the 100 civics
            questions. An applicant must answer 6 out of 10 questions correctly to pass the civics portion of the
            naturalization test.</p>
        <p> * If you are 65 years old or older and have been a legal permanent resident of the United States for 20 or
            more years, you may study just the questions that have been marked with an asterisk.</p>
        <p style="text-align: center;">
            <strong>AMERICAN GOVERNMENT</strong>
        </p>
        <p style="text-align: center;">
            <strong>A: Principles of American Democracy</strong>
        </p>
        <p>
            <strong>1. What is the supreme law of the land? <a href="http://chicago.ru/citizenship/audio/01.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>the Constitution</div>
            </li>
        </ul>
        <p>
            <strong>2. What does the Constitution do? <a href="http://chicago.ru/citizenship/audio/02.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>sets up the government</div>
            </li>
            <li>
                <div>defines the government</div>
            </li>
            <li>
                <div>protects basic rights of Americans</div>
            </li>
        </ul>
        <p>
            <strong>3. The idea of self-government is in the first three words of the Constitution. What are these
                words? <a href="http://chicago.ru/citizenship/audio/03.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>We the People</div>
            </li>
        </ul>
        <p>
            <strong>4. What is an amendment? <a href="http://chicago.ru/citizenship/audio/04.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>a change (to the Constitution)</div>
            </li>
            <li>
                <div>an addition (to the Constitution)</div>
            </li>
        </ul>
        <p>
            <strong>5. What do we call the first ten amendments to the Constitution? <a
                    href="http://chicago.ru/citizenship/audio/05.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>the Bill of Rights</div>
            </li>
        </ul>
        <p>
            <strong>6. What is <u>one</u> right or freedom from the First Amendment?* <a
                    href="http://chicago.ru/citizenship/audio/06.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    speech
                </div>
            </li>
            <li>
                <div>
                    religion
                </div>
            </li>
            <li>
                <div>
                    assembly
                </div>
            </li>
            <li>
                <div>
                    press
                </div>
            </li>
            <li>
                <div>
                    petition the government
                </div>
            </li>
        </ul>
        <p>
            <strong>7. How many amendments does the Constitution have? <a
                    href="http://chicago.ru/citizenship/audio/07.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    twenty-seven (27)
                </div>
            </li>
        </ul>
        <p>
            <strong>8. What did the Declaration of Independence do? <a href="http://chicago.ru/citizenship/audio/08.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    announced our independence (from Great Britain)
                </div>
            </li>
            <li>
                <div>
                    declared our independence (from Great Britain)
                </div>
            </li>
            <li>
                <div>
                    said that the United States is free (from Great Britain)
                </div>
            </li>
        </ul>
        <p>
            <strong>9. What are <u>two</u> rights in the Declaration of Independence? <a
                    href="http://chicago.ru/citizenship/audio/09.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    life
                </div>
            </li>
            <li>
                <div>
                    liberty
                </div>
            </li>
            <li>
                <div>
                    pursuit of happiness
                </div>
            </li>
        </ul>
        <p>
            <strong>10. What is freedom of religion? <a href="http://chicago.ru/citizenship/audio/10.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    You can practice any religion, or not practice a religion.
                </div>
            </li>
        </ul>
        <p>
            <strong>11. What is the economic system in the United States?* <a
                    href="http://chicago.ru/citizenship/audio/11.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    capitalist economy
                </div>
            </li>
            <li>
                <div>
                    market economy
                </div>
            </li>
        </ul>
        <p>
            <strong>12. What is the “rule of law”? <a href="http://chicago.ru/citizenship/audio/12.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Everyone must follow the law.
                </div>
            </li>
            <li>
                <div>
                    Leaders must obey the law.
                </div>
            </li>
            <li>
                <div>
                    Government must obey the law.
                </div>
            </li>
            <li>
                <div>
                    No one is above the law.
                </div>
            </li>
        </ul>
        <p style="text-align: center;">
            <strong>B: System of Government</strong>
        </p>
        <p>
            <strong>13. Name <u>one</u> branch or part of the government.* <a
                    href="http://chicago.ru/citizenship/audio/13.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Congress
                </div>
            </li>
            <li>
                <div>
                    legislative
                </div>
            </li>
            <li>
                <div>
                    President
                </div>
            </li>
            <li>
                <div>
                    executive
                </div>
            </li>
            <li>
                <div>
                    the courts
                </div>
            </li>
            <li>
                <div>
                    judicial
                </div>
            </li>
        </ul>
        <p>
            <strong>14. What stops <u>one</u> branch of government from becoming too powerful? <a
                    href="http://chicago.ru/citizenship/audio/14.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    checks and balances
                </div>
            </li>
            <li>
                <div>
                    separation of powers
                </div>
            </li>
        </ul>
        <p>
            <strong>15. Who is in charge of the executive branch? <a href="http://chicago.ru/citizenship/audio/15.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the President
                </div>
            </li>
        </ul>
        <p>
            <strong>16. Who makes federal laws? <a href="http://chicago.ru/citizenship/audio/16.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Congress
                </div>
            </li>
            <li>
                <div>
                    Senate and House (of Representatives)
                </div>
            </li>
            <li>
                <div>
                    (U.S. or national) legislature
                </div>
            </li>
        </ul>
        <p>
            <strong>17. What are the <u>two</u> parts of the U.S. Congress?* <a
                    href="http://chicago.ru/citizenship/audio/17.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the Senate and House (of Representatives)
                </div>
            </li>
        </ul>
        <p>
            <strong>18. How many U.S. Senators are there? <a href="http://chicago.ru/citizenship/audio/18.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    one hundred (100)
                </div>
            </li>
        </ul>
        <p>
            <strong>19. We elect a U.S. Senator for how many years? <a href="http://chicago.ru/citizenship/audio/19.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    six (6)
                </div>
            </li>
        </ul>
        <p>
            <strong>20. Who is <u>one</u> of your state’s U.S. Senators now?* <a
                    href="http://chicago.ru/citizenship/audio/20.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Answers will vary. <i>District of Columbia residents and residents of U.S. territories should answer
                        that D.C. (or the territory where the applicant lives) has no U.S. Senators.</i></div>
            </li>
        </ul>
        <p>
            <strong>21. The House of Representatives has how many voting members? <a
                    href="http://chicago.ru/citizenship/audio/21.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    four hundred thirty-five (435)
                </div>
            </li>
        </ul>
        <p>
            <strong>22. We elect a U.S. Representative for how many years? <a
                    href="http://chicago.ru/citizenship/audio/22.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    two (2)
                </div>
            </li>
        </ul>
        <p>
            <strong>23. Name your U.S. Representative. <a href="http://chicago.ru/citizenship/audio/23.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Answers will vary. <i>Residents of territories with nonvoting Delegates or Resident Commissioners
                        may provide the name of that Delegate or Commissioner. Also acceptable is any statement that the
                        territory has no (voting) Representatives in Congress.</i></div>
            </li>
        </ul>
        <p>
            <strong>24. Who does a U.S. Senator represent? <a href="http://chicago.ru/citizenship/audio/24.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    all people of the state
                </div>
            </li>
        </ul>
        <p>
            <strong>25. Why do some states have more Representatives than other states? <a
                    href="http://chicago.ru/citizenship/audio/25.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    (because of) the state’s population
                </div>
            </li>
            <li>
                <div>
                    (because) they have more people
                </div>
            </li>
            <li>
                <div>
                    (because) some states have more people
                </div>
            </li>
        </ul>
        <p>
            <strong>26. We elect a President for how many years? <a href="http://chicago.ru/citizenship/audio/26.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    four (4)
                </div>
            </li>
        </ul>
        <p>
            <strong>27. In what month do we vote for President?* <a href="http://chicago.ru/citizenship/audio/27.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    November
                </div>
            </li>
        </ul>
        <p>
            <strong>28. What is the name of the President of the United States now?* <a
                    href="http://chicago.ru/citizenship/audio/28.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Joe Biden
                </div>
            </li>
            <li>
                <div>
                    Joseph R. Biden, Jr.
                </div>
            </li>
            <li>
                <div>
                    Biden
                </div>
            </li>
        </ul>
        <p>
            <strong>29. What is the name of the Vice President of the United States now? <a
                    href="http://chicago.ru/citizenship/audio/29.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    Kamala Harris
                </div>
            </li>
        </ul>
        <p>
            <strong>30. If the President can no longer serve, who becomes President? <a
                    href="http://chicago.ru/citizenship/audio/30.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the Vice President
                </div>
            </li>
        </ul>
        <p>
            <strong>31. If both the President and the Vice President can no longer serve, who becomes President? <a
                    href="http://chicago.ru/citizenship/audio/31.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the Speaker of the House
                </div>
            </li>
        </ul>
        <p>
            <strong>32. Who is the Commander in Chief of the military? <a
                    href="http://chicago.ru/citizenship/audio/32.mp3" target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the President
                </div>
            </li>
        </ul>
        <p>
            <strong>33. Who signs bills to become laws? <a href="http://chicago.ru/citizenship/audio/33.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                <div>
                    the President
                </div>
            </li>
        </ul>
        <p>
            <strong>34. Who vetoes bills? <a href="http://chicago.ru/citizenship/audio/34.mp3"
                    target="new">Audio</a></strong>
        </p>
        <ul>
            <li>
                the President
            </li>
        </ul>
    </div>

    <p>
        <strong>35. What does the President’s Cabinet do? <a href="http://chicago.ru/citizenship/audio/35.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                advises the President
            </div>
        </li>
    </ul>
    <p>
        <strong>36. What are <u>two</u> Cabinet-level positions? <a href="http://chicago.ru/citizenship/audio/36.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Secretary of Agriculture
            </div>
        </li>
        <li>
            <div>
                Secretary of Commerce
            </div>
        </li>
        <li>
            <div>
                Secretary of Defense
            </div>
        </li>
        <li>
            <div>
                Secretary of Education
            </div>
        </li>
        <li>
            <div>
                Secretary of Energy
            </div>
        </li>
        <li>
            <div>
                Secretary of Health and Human Services
            </div>
        </li>
        <li>
            <div>
                Secretary of Homeland Security
            </div>
        </li>
        <li>
            <div>
                Secretary of Housing and Urban Development
            </div>
        </li>
        <li>
            <div>
                Secretary of the Interior
            </div>
        </li>
        <li>
            <div>
                Secretary of Labor
            </div>
        </li>
        <li>
            <div>
                Secretary of State
            </div>
        </li>
        <li>
            <div>
                Secretary of Transportation
            </div>
        </li>
        <li>
            <div>
                Secretary of the Treasury
            </div>
        </li>
        <li>
            <div>
                Secretary of Veterans Affairs
            </div>
        </li>
        <li>
            <div>
                Attorney General
            </div>
        </li>
        <li>
            <div>
                Vice President
            </div>
        </li>
    </ul>
    <p>
        <strong>37. What does the judicial branch do? <a href="http://chicago.ru/citizenship/audio/37.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                reviews laws
            </div>
        </li>
        <li>
            <div>
                explains laws
            </div>
        </li>
        <li>
            <div>
                resolves disputes (disagreements)
            </div>
        </li>
        <li>
            <div>
                decides if a law goes against the Constitution
            </div>
        </li>
    </ul>
    <p>
        <strong>38. What is the highest court in the United States? <a href="http://chicago.ru/citizenship/audio/38.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                the Supreme Court
            </div>
        </li>
    </ul>
    <p>
        <strong>39. How many justices are on the Supreme Court? <a href="http://chicago.ru/citizenship/audio/39.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                nine (9)
            </div>
        </li>
    </ul>
    <p>
        <strong>40. Who is the Chief Justice of the United States now? <a
                href="http://chicago.ru/citizenship/audio/40.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                John Roberts (John G. Roberts, Jr.)
            </div>
        </li>
    </ul>
    <p>
        <strong>41. Under our Constitution, some powers belong to the federal government. What is <u>one</u> power of
            the federal government? <a href="http://chicago.ru/citizenship/audio/41.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                to print money
            </div>
        </li>
        <li>
            <div>
                to declare war
            </div>
        </li>
        <li>
            <div>
                to create an army
            </div>
        </li>
        <li>
            <div>
                to make treaties
            </div>
        </li>
    </ul>
    <p>
        <strong>42. Under our Constitution, some powers belong to the states. What is <u>one</u> power of the states? <a
                href="http://chicago.ru/citizenship/audio/42.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                provide schooling and education
            </div>
        </li>
        <li>
            <div>
                provide protection (police)
            </div>
        </li>
        <li>
            <div>
                provide safety (fire departments)
            </div>
        </li>
        <li>
            <div>
                give a driver’s license
            </div>
        </li>
        <li>
            <div>
                approve zoning and land use
            </div>
        </li>
    </ul>
    <p>
        <strong>43. Who is the Governor of your state now? <a href="http://chicago.ru/citizenship/audio/43.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Answers will vary. <i>District of Columbia residents should answer that D.C. does not have a
                    Governor.</i></div>
        </li>
    </ul>
    <p>
        <strong>44. What is the capital of your state?* <a href="http://chicago.ru/citizenship/audio/44.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Answers will vary. <i>District of Columbia residents should answer that D.C. is not a state and does not
                    have a capital. Residents of U.S. territories should name the capital of the territory.</i></div>
        </li>
    </ul>
    <p>
        <strong>45. What are the <u>two</u> major political parties in the United States?* <a
                href="http://chicago.ru/citizenship/audio/45.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Democratic and Republican
            </div>
        </li>
    </ul>
    <p>
        <strong>46. What is the political party of the President now? <a
                href="http://chicago.ru/citizenship/audio/46.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Democratic (Party)
            </div>
        </li>
    </ul>
    <p>
        <strong>47. What is the name of the Speaker of the House of Representatives now? <a
                href="http://chicago.ru/citizenship/audio/47.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Nancy Pelosi
            </div>
        </li>
    </ul>
    <p>
        <strong>C: Rights and Responsibilities</strong>
    </p>
    <p>
        <strong>48. There are four amendments to the Constitution about who can vote. Describe <u>one</u> of them. <a
                href="http://chicago.ru/citizenship/audio/48.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Citizens eighteen (18) and older (can vote).
            </div>
        </li>
        <li>
            <div>
                You don’t have to pay (a poll tax) to vote.
            </div>
        </li>
        <li>
            <div>
                Any citizen can vote. (Women and men can vote.)
            </div>
        </li>
        <li>
            <div>
                A male citizen of any race (can vote).
            </div>
        </li>
    </ul>
    <p>
        <strong>49. What is <u>one</u> responsibility that is only for United States citizens?* <a
                href="http://chicago.ru/citizenship/audio/49.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                serve on a jury
            </div>
        </li>
        <li>
            <div>
                vote in a federal election
            </div>
        </li>
    </ul>
    <p>
        <strong>50. Name <u>one</u> right only for United States citizens. <a
                href="http://chicago.ru/citizenship/audio/50.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                vote in a federal election
            </div>
        </li>
        <li>
            <div>
                run for federal office
            </div>
        </li>
    </ul>
    <p>
        <strong>51. What are <u>two</u> rights of everyone living in the United States? <a
                href="http://chicago.ru/citizenship/audio/51.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                freedom of expression
            </div>
        </li>
        <li>
            <div>
                freedom of speech
            </div>
        </li>
        <li>
            <div>
                freedom of assembly
            </div>
        </li>
        <li>
            <div>
                freedom to petition the government
            </div>
        </li>
        <li>
            <div>
                freedom of worship
            </div>
        </li>
        <li>
            <div>
                the right to bear arms
            </div>
        </li>
    </ul>
    <p>
        <strong>52. What do we show loyalty to when we say the Pledge of Allegiance? <a
                href="http://chicago.ru/citizenship/audio/52.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                the United States
            </div>
        </li>
        <li>
            <div>
                the flag
            </div>
        </li>
    </ul>
    <p>
        <strong>53. What is <u>one</u> promise you make when you become a United States citizen? <a
                href="http://chicago.ru/citizenship/audio/53.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                give up loyalty to other countries
            </div>
        </li>
        <li>
            <div>
                defend the Constitution and laws of the United States
            </div>
        </li>
        <li>
            <div>
                obey the laws of the United States
            </div>
        </li>
        <li>
            <div>
                serve in the U.S. military (if needed)
            </div>
        </li>
        <li>
            <div>
                serve (do important work for) the nation (if needed)
            </div>
        </li>
        <li>
            <div>
                be loyal to the United States
            </div>
        </li>
    </ul>
    <p>
        <strong>54. How old do citizens have to be to vote for President?* <a
                href="http://chicago.ru/citizenship/audio/54.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                eighteen (18) and older
            </div>
        </li>
    </ul>
    <p>
        <strong>55. What are <u>two</u> ways that Americans can participate in their democracy? <a
                href="http://chicago.ru/citizenship/audio/55.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                vote
            </div>
        </li>
        <li>
            <div>
                join a political party
            </div>
        </li>
        <li>
            <div>
                help with a campaign
            </div>
        </li>
        <li>
            <div>
                join a civic group
            </div>
        </li>
        <li>
            <div>
                join a community group
            </div>
        </li>
        <li>
            <div>
                give an elected official your opinion on an issue
            </div>
        </li>
        <li>
            <div>
                call Senators and Representatives
            </div>
        </li>
        <li>
            <div>
                publicly support or oppose an issue or policy
            </div>
        </li>
        <li>
            <div>
                run for office
            </div>
        </li>
        <li>
            <div>
                write to a newspaper
            </div>
        </li>
    </ul>
    <p>
        <strong>56. When is the last day you can send in federal income tax forms?* <a
                href="http://chicago.ru/citizenship/audio/56.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                April 15
            </div>
        </li>
    </ul>
    <p>
        <strong>57. When must all men register for the Selective Service? <a
                href="http://chicago.ru/citizenship/audio/57.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                at age eighteen (18)
            </div>
        </li>
        <li>
            <div>
                between eighteen (18) and twenty-six (26)
            </div>
        </li>
    </ul>
    <p style="text-align: center;">
        <strong>AMERICAN HISTORY</strong>
    </p>
    <p style="text-align: center;">
        <strong>A: Colonial Period and Independence</strong>
    </p>
    <p>
        <strong>58. What is <u>one</u> reason colonists came to America? <a
                href="http://chicago.ru/citizenship/audio/58.mp3" target="new">Audio)</a></strong>
    </p>
    <ul>
        <li>
            <div>
                freedom
            </div>
        </li>
        <li>
            <div>
                political liberty
            </div>
        </li>
        <li>
            <div>
                religious freedom
            </div>
        </li>
        <li>
            <div>
                economic opportunity
            </div>
        </li>
        <li>
            <div>
                practice their religion
            </div>
        </li>
        <li>
            <div>
                escape persecution
            </div>
        </li>
    </ul>
    <p>
        <strong>59. Who lived in America before the Europeans arrived? <a
                href="http://chicago.ru/citizenship/audio/59.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                American Indians
            </div>
        </li>
        <li>
            <div>
                Native Americans
            </div>
        </li>
    </ul>
    <p>
        <strong>60. What group of people was taken to America and sold as slaves? <a
                href="http://chicago.ru/citizenship/audio/60.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Africans
            </div>
        </li>
        <li>
            <div>
                people from Africa
            </div>
        </li>
    </ul>
    <p>
        <strong>61. Why did the colonists fight the British? <a href="http://chicago.ru/citizenship/audio/61.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                because of high taxes (taxation without representation)
            </div>
        </li>
        <li>
            <div>
                because the British army stayed in their houses (boarding, quartering)
            </div>
        </li>
        <li>
            <div>
                because they didn’t have self-government
            </div>
        </li>
    </ul>
    <p>
        <strong>62. Who wrote the Declaration of Independence? <a href="http://chicago.ru/citizenship/audio/62.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (Thomas) Jefferson
            </div>
        </li>
    </ul>
    <p>
        <strong>63. When was the Declaration of Independence adopted? <a
                href="http://chicago.ru/citizenship/audio/63.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                July 4, 1776
            </div>
        </li>
    </ul>
    <p>
        <strong>64. There were 13 original states. Name <u>three</u>. <a
                href="http://chicago.ru/citizenship/audio/64.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                New Hampshire
            </div>
        </li>
        <li>
            <div>
                Massachusetts
            </div>
        </li>
        <li>
            <div>
                Rhode Island
            </div>
        </li>
        <li>
            <div>
                Connecticut
            </div>
        </li>
        <li>
            <div>
                New York
            </div>
        </li>
        <li>
            <div>
                New Jersey
            </div>
        </li>
        <li>
            <div>
                Pennsylvania
            </div>
        </li>
        <li>
            <div>
                Delaware
            </div>
        </li>
        <li>
            <div>
                Maryland
            </div>
        </li>
        <li>
            <div>
                Virginia
            </div>
        </li>
        <li>
            <div>
                North Carolina
            </div>
        </li>
        <li>
            <div>
                South Carolina
            </div>
        </li>
        <li>
            <div>
                Georgia
            </div>
        </li>
    </ul>
    <p>
        <strong>65. What happened at the Constitutional Convention? <a href="http://chicago.ru/citizenship/audio/65.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                The Constitution was written.
            </div>
        </li>
        <li>
            <div>
                The Founding Fathers wrote the Constitution.
            </div>
        </li>
    </ul>
    <p>
        <strong>66. When was the Constitution written? <a href="http://chicago.ru/citizenship/audio/66.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                1787
            </div>
        </li>
    </ul>
    <p>
        <strong>67. The Federalist Papers supported the passage of the U.S. Constitution. Name <u>one</u> of the
            writers. <a href="http://chicago.ru/citizenship/audio/67.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (James) Madison
            </div>
        </li>
        <li>
            <div>
                (Alexander) Hamilton
            </div>
        </li>
        <li>
            <div>
                (John) Jay
            </div>
        </li>
        <li>
            <div>
                Publius
            </div>
        </li>
    </ul>
    <p>
        <strong>68. What is <u>one</u> thing Benjamin Franklin is famous for? <a
                href="http://chicago.ru/citizenship/audio/68.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                U.S. diplomat
            </div>
        </li>
        <li>
            <div>
                oldest member of the Constitutional Convention
            </div>
        </li>
        <li>
            <div>
                first Postmaster General of the United States
            </div>
        </li>
        <li>
            <div>
                writer of “Poor Richard’s Almanac”
            </div>
        </li>
        <li>
            <div>
                started the first free libraries
            </div>
        </li>
    </ul>
    <p>
        <strong>69. Who is the “Father of Our Country”? <a href="http://chicago.ru/citizenship/audio/69.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (George) Washington
            </div>
        </li>
    </ul>
    <p>
        <strong>70. Who was the first President?* <a href="http://chicago.ru/citizenship/audio/70.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (George) Washington
            </div>
        </li>
    </ul>
    <p style="text-align: center;">
        <strong>B: 1800s</strong>
    </p>
    <p>
        <strong>71. What territory did the United States buy from France in 1803? <a
                href="http://chicago.ru/citizenship/audio/71.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                the Louisiana Territory
            </div>
        </li>
        <li>
            <div>
                Louisiana
            </div>
        </li>
    </ul>
    <p>
        <strong>72. Name <u>one</u> war fought by the United States in the 1800s. <a
                href="http://chicago.ru/citizenship/audio/72.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                War of 1812
            </div>
        </li>
        <li>
            <div>
                Mexican-American War
            </div>
        </li>
        <li>
            <div>
                Civil War
            </div>
        </li>
        <li>
            <div>
                Spanish-American War
            </div>
        </li>
    </ul>
    <p>
        <strong>73. Name the U.S. war between the North and the South. <a
                href="http://chicago.ru/citizenship/audio/73.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                the Civil War
            </div>
        </li>
        <li>
            <div>
                the War between the States
            </div>
        </li>
    </ul>
    <p>
        <strong>74. Name <u>one</u> problem that led to the Civil War. <a
                href="http://chicago.ru/citizenship/audio/74.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                slavery
            </div>
        </li>
        <li>
            <div>
                economic reasons
            </div>
        </li>
        <li>
            <div>
                states’ rights
            </div>
        </li>
    </ul>
    <p>
        <strong>75. What was <u>one</u> important thing that Abraham Lincoln did?* <a
                href="http://chicago.ru/citizenship/audio/75.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                freed the slaves (Emancipation Proclamation)
            </div>
        </li>
        <li>
            <div>
                saved (or preserved) the Union
            </div>
        </li>
        <li>
            <div>
                led the United States during the Civil War
            </div>
        </li>
    </ul>
    <p>
        <strong>76. What did the Emancipation Proclamation do? <a href="http://chicago.ru/citizenship/audio/76.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                freed the slaves
            </div>
        </li>
        <li>
            <div>
                freed slaves in the Confederacy
            </div>
        </li>
        <li>
            <div>
                freed slaves in the Confederate states
            </div>
        </li>
        <li>
            <div>
                freed slaves in most Southern states
            </div>
        </li>
    </ul>
    <p>
        <strong>77. What did Susan B. Anthony do? <a href="http://chicago.ru/citizenship/audio/77.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                fought for women’s rights
            </div>
        </li>
        <li>
            <div>
                fought for civil rights
            </div>
        </li>
    </ul>
    <p style="text-align: center;">
        <strong>C: Recent American History and Other Important Historical Information</strong>
    </p>
    <p>
        <strong>78. Name <u>one</u> war fought by the United States in the 1900s.* <a
                href="http://chicago.ru/citizenship/audio/78.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                World War I
            </div>
        </li>
        <li>
            <div>
                World War II
            </div>
        </li>
        <li>
            <div>
                Korean War
            </div>
        </li>
        <li>
            <div>
                Vietnam War
            </div>
        </li>
        <li>
            <div>
                (Persian) Gulf War
            </div>
        </li>
    </ul>
    <p>
        <strong>79. Who was President during World War I? <a href="http://chicago.ru/citizenship/audio/79.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (Woodrow) Wilson
            </div>
        </li>
    </ul>
    <p>
        <strong>80. Who was President during the Great Depression and World War II? <a
                href="http://chicago.ru/citizenship/audio/80.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                (Franklin) Roosevelt
            </div>
        </li>
    </ul>
    <p>
        <strong>81. Who did the United States fight in World War II? <a
                href="http://chicago.ru/citizenship/audio/81.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Japan, Germany, and Italy
            </div>
        </li>
    </ul>
    <p>
        <strong>82. Before he was President, Eisenhower was a general. What war was he in? <a
                href="http://chicago.ru/citizenship/audio/82.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                World War II
            </div>
        </li>
    </ul>
    <p>
        <strong>83. During the Cold War, what was the main concern of the United States? <a
                href="http://chicago.ru/citizenship/audio/83.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Communism
            </div>
        </li>
    </ul>
    <p>
        <strong>84. What movement tried to end racial discrimination? <a
                href="http://chicago.ru/citizenship/audio/84.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                civil rights (movement)
            </div>
        </li>
    </ul>
    <p>
        <strong>85. What did Martin Luther King, Jr. do?* <a href="http://chicago.ru/citizenship/audio/85.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                fought for civil rights
            </div>
        </li>
        <li>
            <div>
                worked for equality for all Americans
            </div>
        </li>
    </ul>
    <p>
        <strong>86. What major event happened on September 11, 2001, in the United States? <a
                href="http://chicago.ru/citizenship/audio/86.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Terrorists attacked the United States.
            </div>
        </li>
    </ul>
    <p>
        <strong>87. Name <u>one</u> American Indian tribe in the United States. <a
                href="http://chicago.ru/citizenship/audio/87.mp3" target="new">Audio</a></strong>
    </p>
    <p>
        <i>USCIS Officers will be supplied with a list of federally recognized American Indian tribes</i>
    </p>
    <ul>
        <li>
            <div>
                Cherokee
            </div>
        </li>
        <li>
            <div>
                Navajo
            </div>
        </li>
        <li>
            <div>
                Sioux
            </div>
        </li>
        <li>
            <div>
                Chippewa
            </div>
        </li>
        <li>
            <div>
                Choctaw
            </div>
        </li>
        <li>
            <div>
                Pueblo
            </div>
        </li>
        <li>
            <div>
                Apache
            </div>
        </li>
        <li>
            <div>
                Iroquois
            </div>
        </li>
        <li>
            <div>
                Creek
            </div>
        </li>
        <li>
            <div>
                Blackfeet
            </div>
        </li>
        <li>
            <div>
                Seminole
            </div>
        </li>
        <li>
            <div>
                Cheyenne
            </div>
        </li>
        <li>
            <div>
                Arawak
            </div>
        </li>
        <li>
            <div>
                Shawnee
            </div>
        </li>
        <li>
            <div>
                Mohegan
            </div>
        </li>
        <li>
            <div>
                Huron
            </div>
        </li>
        <li>
            <div>
                Oneida
            </div>
        </li>
        <li>
            <div>
                Lakota
            </div>
        </li>
        <li>
            <div>
                Crow
            </div>
        </li>
        <li>
            <div>
                Teton
            </div>
        </li>
        <li>
            <div>
                Hopi
            </div>
        </li>
        <li>
            <div>
                Inuit
            </div>
        </li>
    </ul>
    <p style="text-align: center;">
        <strong>INTEGRATED CIVICS</strong>
    </p>
    <p style="text-align: center;">
        <strong>A: Geography</strong>
    </p>
    <p>
        <strong>88. Name <u>one</u> of the two longest rivers in the United States. <a
                href="http://chicago.ru/citizenship/audio/88.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Missouri (River)
            </div>
        </li>
        <li>
            <div>
                Mississippi (River)
            </div>
        </li>
    </ul>
    <p>
        <strong>89. What ocean is on the West Coast of the United States? <a
                href="http://chicago.ru/citizenship/audio/89.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Pacific (Ocean)
            </div>
        </li>
    </ul>
    <p>
        <strong>90. What ocean is on the East Coast of the United States? <a
                href="http://chicago.ru/citizenship/audio/90.mp3" target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Atlantic (Ocean)
            </div>
        </li>
    </ul>
    <p>
        <strong>91. Name <u>one</u> U.S. territory. <a href="http://chicago.ru/citizenship/audio/91.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Puerto Rico
            </div>
        </li>
        <li>
            <div>
                U.S. Virgin Islands
            </div>
        </li>
        <li>
            <div>
                American Samoa
            </div>
        </li>
        <li>
            <div>
                Northern Mariana Islands
            </div>
        </li>
        <li>
            <div>
                Guam
            </div>
        </li>
    </ul>
    <p>
        <strong>92. Name <u>one</u> state that borders Canada. <a href="http://chicago.ru/citizenship/audio/92.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Maine
            </div>
        </li>
        <li>
            <div>
                New Hampshire
            </div>
        </li>
        <li>
            <div>
                Vermont
            </div>
        </li>
        <li>
            <div>
                New York
            </div>
        </li>
        <li>
            <div>
                Pennsylvania
            </div>
        </li>
        <li>
            <div>
                Ohio
            </div>
        </li>
        <li>
            <div>
                Michigan
            </div>
        </li>
        <li>
            <div>
                Minnesota
            </div>
        </li>
        <li>
            <div>
                North Dakota
            </div>
        </li>
        <li>
            <div>
                Montana
            </div>
        </li>
        <li>
            <div>
                Idaho
            </div>
        </li>
        <li>
            <div>
                Washington
            </div>
        </li>
        <li>
            <div>
                Alaska
            </div>
        </li>
    </ul>
    <p>
        <strong>93. Name <u>one</u> state that borders Mexico. <a href="http://chicago.ru/citizenship/audio/93.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                California
            </div>
        </li>
        <li>
            <div>
                Arizona
            </div>
        </li>
        <li>
            <div>
                New Mexico
            </div>
        </li>
        <li>
            <div>
                Texas
            </div>
        </li>
    </ul>
    <p>
        <strong>94. What is the capital of the United States?* <a href="http://chicago.ru/citizenship/audio/94.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                Washington, D.C.
            </div>
        </li>
    </ul>
    <p>
        <strong>95. Where is the Statue of Liberty?* <a href="http://chicago.ru/citizenship/audio/95.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                New York (Harbor)
            </div>
        </li>
        <li>
            <div>
                Liberty Island
            </div>
        </li>
    </ul>
    <p>
        <i>Also acceptable are New Jersey, near New York City, and on the Hudson (River)</i>
    </p>
    <p style="text-align: center;">
        <strong>B: Symbols</strong>
    </p>
    <p>
        <strong>96. Why does the flag have 13 stripes? <a href="http://chicago.ru/citizenship/audio/96.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                because there were 13 original colonies
            </div>
        </li>
        <li>
            <div>
                because the stripes represent the original colonies
            </div>
        </li>
    </ul>
    <p>
        <strong>97. Why does the flag have 50 stars?* <a href="http://chicago.ru/citizenship/audio/97.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                because there is one star for each state
            </div>
        </li>
        <li>
            <div>
                because each star represents a state
            </div>
        </li>
        <li>
            <div>
                because there are 50 states
            </div>
        </li>
    </ul>
    <p>
        <strong>98. What is the name of the national anthem? <a href="http://chicago.ru/citizenship/audio/98.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                The Star-Spangled Banner
            </div>
        </li>
    </ul>
    <p>
        <strong>C: Holidays</strong>
    </p>
    <p>
        <strong>99. When do we celebrate Independence Day?* <a href="http://chicago.ru/citizenship/audio/99.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                July 4
            </div>
        </li>
    </ul>
    <p>
        <strong>100. Name <u>two</u> national U.S. holidays. <a href="http://chicago.ru/citizenship/audio/100.mp3"
                target="new">Audio</a></strong>
    </p>
    <ul>
        <li>
            <div>
                New Year’s Day
            </div>
        </li>
        <li>
            <div>
                Martin Luther King, Jr. Day
            </div>
        </li>
        <li>
            <div>
                Presidents’ Day
            </div>
        </li>
        <li>
            <div>
                Memorial Day
            </div>
        </li>
        <li>
            <div>
                Independence Day
            </div>
        </li>
        <li>
            <div>
                Labor Day
            </div>
        </li>
        <li>
            <div>
                Columbus Day
            </div>
        </li>
        <li>
            <div>
                Veterans Day
            </div>
        </li>
        <li>
            <div>
                Thanksgiving
            </div>
        </li>
        <li>
            <div>
                Christmas
            </div>
        </li>
    </ul>
</div>